.main {
    background-color: rgba(27, 68, 98, 0.5);
    margin-top: 8px;
}

.main ul li {
    padding: 16px 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.main ul li a {
    color: #fff;
    text-decoration: none;
}

.main ul li a:hover {
    color: var(--primary-color);
    transition: all ease 0.4s;
}

@media (max-width: 768px) {
    .main ul {
        opacity: 0;
        visibility: hidden;
        height: 0;
        z-index: -1;
        transition: all ease 0.4s;
        display: block;
    }

    .main ul.showMenu {
        padding: 50px 0;
        display: block;
        padding: 50px 0;
        opacity: 1;
        visibility: visible;
        height: 100vh;
        z-index: 0;
        transition: all ease 0.4s;
    }

    .main ul li {
        display: block;
    }
    .main ul.showMenu li {
        display: block;
    }
}
