.main {
    background-color: rgba(27, 68, 98, 0.7);
    padding: 16px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.infosListItem {
    display: inline-block;
    padding: 0 16px;
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    color: #fff;
}
.infosListItem:last-child {
    padding-right: 0;
}

.mobileNav {
    display: none;
}

@media (max-width: 768px) {
    .mobileNav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .mobileNav img {
        width: 36px !important;
        height: 36px !important;
        transform: scale(1);
        transition: all ease 0.4s;
    }
    .mobileNav.open img {
        transform: scale(0.8);
        transition: all ease 0.4s;
    }

    .mobileNav span {
        font-size: 26px;
        color: #fff;
        font-weight: 700;
        margin-left: 16px;
        transition: all ease 0.4s;
    }

    .mobileNav.open span {
        color: var(--primary-color);
        transition: all ease 0.4s;
    }
}
