.header {
	background-image: url("../../../public/images/bg-home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 100%;
}

.top {
	background-color: rgba(#1b4462, 0.7);
}

.title {
	-webkit-animation: tracking-in-expand 1.2s
		cubic-bezier(0.215, 0.61, 0.355, 1) both;
	animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;

	// background-color: rgba(#333, 0.4);
	display: table;
	margin: 8px auto;
	padding: 8px;
	font-size: 6rem;
	text-align: center;
	line-height: 1;
	font-weight: 600;
	white-space: nowrap;
}
.subtitle {
	-webkit-animation: tracking-in-expand-fwd-bottom 1s
		cubic-bezier(0.215, 0.61, 0.355, 1) both;
	animation: tracking-in-expand-fwd-bottom 1s
		cubic-bezier(0.215, 0.61, 0.355, 1) both;

	// background-color: rgba(#333, 0.4);
	display: table;
	margin: auto;
	padding: 8px;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	line-height: 1;
	font-weight: 400;
	white-space: nowrap;
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}
@keyframes tracking-in-expand-fwd-bottom {
	0% {
		letter-spacing: -0.5em;
		-webkit-transform: translateZ(-700px) translateY(500px);
		transform: translateZ(-700px) translateY(500px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}
