.header {
	background-image: url("../../../public/images/bg-home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	min-height: 100%;
	color: white;
}

.top {
	background-color: rgba(#1b4462, 0.7);
}
