.bg {
	background-image: url("../../../public/images/bg-services.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 100%;
	color: white;
}
